body {
    margin: 0;
    padding: 0;
    background-color: black;
}
#container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}
header {
    margin-top: 20px;
    height: 100px;
    width: 100%;
    background-color: aqua;
    color: black;
    display: table;
}
header h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
form {
    width: 100%;
    background-color: darkcyan;
    height: 400px;
    text-align: center;  
}

form h2 {
    padding: 20px 20px 0;
    font-size: 1.5em;
    color: honeydew;
    text-align: center;
    word-wrap: break-word;

}


form button {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: red;
    color: white;
}
 
form input {
    width: 200px;
}

footer {
    margin-top: 20px;
    height: 100px;
    width: 100%;
    background-color: aqua;
    color: black;
}